In [35]:
import numpy as np
import pandas as pd

In [36]:
################## Data preparation. Merging
# снаждаме две таблици по един или няколко ключа

frame1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'], 'price': [12.33,11.44,33.21,13.23,33.62]})
frame2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'], 'color': ['white','red','red','black']})

pd.merge(frame1,frame2) # съединяват се по единствената им обща колона 'id' и ако има повече от една обща колона, се посочва коя


fram1 = pd.DataFrame( {'id':['ball','pencil','pen','mug','ashtray'], 'color': ['white','red','red','black','green'],
                       'brand': ['OMG','ABC','ABC','POD','POD']}) # има две общи колони 'id' и 'brand'
fram2 = pd.DataFrame( {'id':['pencil','pencil','ball','pen'], 'brand': ['OMG','POD','ABC','POD']})
#pd.merge(fram1,fram2) # дава празна таблица, защото не е посочено къде става съединяването
pd.merge(fram1,fram2,on='id') # ако колоните с ключ нямат еднакви имена, то използваме left_on='колона1', right_on='колона2'
#pd.merge(fram1,fram2,on='brand') # by default се изпълнява inner join, т.е. ключовете са сечение на двете колони
#pd.merge(fram1,fram2,on='id',how='outer') # how може да е също 'left' или'right'

#fram2.columns = ['id2','brand2'] # долното работи, ако колоните имат различни имена
#frame1.join(fram2) # слива по индекси на редовете като добавя NaN, ако има разлика в броя на редовете

       id  color brand_x brand_y
0    ball  white     OMG     ABC
1  pencil    red     ABC     OMG
2  pencil    red     ABC     POD
3     pen    red     ABC     POD

In [43]:
########## Data preparation. Concatenation. Други (виж в книгата)
array1 = np.arange(9).reshape((3,3))
array2 = np.arange(9).reshape((3,3))+6

np.concatenate([array1,array2],axis=1) # хоризонтално, само за array
np.concatenate([array1,array2],axis=0) # by default вертикално, само за array

ser1 = pd.Series(np.random.rand(4), index=[1,2,3,4])
ser2 = pd.Series(np.random.rand(4), index=[5,6,7,8])

pd.concat([ser1,ser2]) # вертикално, връща array
pd.concat([ser1,ser2], axis=1) # хоризонтално, връща DataFrame

frame1 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[1,2,3], columns=['A','B','C'])
frame2 = pd.DataFrame(np.random.rand(9).reshape(3,3), index=[4,5,6], columns=['A','B','C'])

pd.concat([frame1, frame2]) # същото положение е в сила и за Data Frame
pd.concat([frame1, frame2], axis=1)

## Combining Когато искаме индексите на две бази данни да се overlap изцяло или частично
seri1 = pd.Series(np.random.rand(5), index=[1,2,3,4,5])
seri2 = pd.Series(np.random.rand(4),index=[2,4,5,6])
seri1.combine_first(seri2) # комбинира данни1 и 2, като само индексите, които липсват в данни1, се попълват от данни2
seri2.combine_first(seri1) # дава различен резултат с горното
seri1[:3].combine_first(seri2[:3]) # ако искаме частичен overlap

1    0.520725
2    0.792277
3    0.596020
4    0.210342
5    0.628596
6    0.343593
dtype: float64

In [56]:
####### Data preparation. Pivoting. Pivoting with Hierarchical indexing: Stacking (columns to rows) and Unstacking (vice versa)
frame1 = pd.DataFrame(np.arange(9).reshape(3,3), index=['white','black','red'], columns=['ball','pen','pencil'])

ser3=frame1.stack() # резултатът е Series с йерархични индекси: index - външни, columns - вътрешни
ser3.unstack() # от Series с йерархични индекси получаваме Data Frame: с йерархични индекси: външни - редове, вътрешни - колони
ser3.unstack(0) # by default е 1, което е идентично с горното

# Pivoting from Long to Wide format. НЕ работи за всички таблици - виж примера!!!
longframe = pd.DataFrame({ 'color':['white','white','white', 'red','red','red', 'black','black','black'],
                          'item':['ball','pen','mug','ball','pen','mug','ball','pen','mug'], 'value': np.random.rand(9)})
wideframe = longframe.pivot('color','item') # избрали сме две колони, които ще са keys; 
wideframe

          value
item       ball       mug       pen
color
black  0.215704  0.115561  0.305747
red    0.583740  0.883368  0.455997
white  0.237819  0.706183  0.337483

In [72]:
####### Data preparation. Removing.
frame1 = pd.DataFrame(np.arange(9).reshape(3,3), index=['white','black','red'], columns=['ball','pen','pencil'])

#del frame1['ball'] # за изтриване на колона; модифицира таблицата
#frame1

frame1.drop('white') # посочва се индекса на реда, за изтриване на ред; НЕ модифицира таблицата
frame1

       ball  pen  pencil
white     0    1       2
black     3    4       5
red       6    7       8