In [3]:
import pandas as pd
import numpy as np

In [9]:
## Reading data in CSV or TXT format
# Създаваме CSV файл PytDatAn_01.csv

csvfra = pd.read_csv('PytDatAn_01.csv') # отваряне на файла за четене
#pd.read_table('PytDatAn_01.csv',sep=',') # това също може да се използва, особено ако delimiter е нетривиален, работи и с TXT
csvfra

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [13]:
### Може да се случи таблицата в CSV файла да няма Headers, както е с PytDatAn_02.csv

csvfra2 = pd.read_csv('PytDatAn_02.csv') # headers се слагат автоматично да е първият ред и ако не искаме да е така
csvfra2 = pd.read_csv('PytDatAn_02.csv', header=None) # headers сега са някакви числа и ако не искаме да е така
csvfra2 = pd.read_csv('PytDatAn_02.csv', names=['white','red','blue','green','animal']) # слага names за headers на колоните
csvfra2

   white  red  blue  green animal
0      1    5     2      3    cat
1      2    7     8      5    dog
2      3    3     6      7  horse
3      2    2     8      3   duck
4      4    4     2      1  mouse

In [25]:
####### Writing data in CSV

# Първо създаваме нещо, например Data Frame
dat = {'color' : ['blue','green','yellow','red','white', 'pink', 'carmine', 'brown', 'clear'],
'object' : ['ball','pen','pencil','paper','mug', 'notebook', 'case', 'box', 'tape'],
'price' : [1.2,1.0,0.6,0.9,1.7, 1.9, 2.0, 1.3, 0.8],
'quantity' : [10, 6, 8, 12, 4, 9, 11, 10, 9]} # дефинираме някакво множество, например чрез dictionary
fra = pd.DataFrame(dat) # дефинираме нашата Data Frame чрез pd.DataFrame(МНОЖЕСТВО)
fra

fra3 = pd.DataFrame(np.arange(25).reshape((5,5)), index=['red','blue','yellow','white', 'purple'],
                    columns=['ball','pen','pencil','paper','mug']) # дефинираме още една DataFrame
fra3

fra.to_csv('myfirst.csv') # записва DataFrame като таблица в CSV файл; ако има такъв файл, ще изтрие и презапише
fra.to_csv('myfirst.txt') # става и за TXT файл
#fra3.to_csv('myfirst.csv', index=False, header=False) # ако искаме да не записва indexes и headers

In [24]:
fra3

        ball  pen  pencil  paper  mug
red        0    1       2      3    4
blue       5    6       7      8    9
yellow    10   11      12     13   14
white     15   16      17     18   19
purple    20   21      22     23   24

In [ ]:
### pd.read_excel('data.xls','Sheet2') е също като pd.read_excel('data.xls',1). Без втори аргумент отваря Sheet 1
fra3.to_excel('data2.xlsx')